body {
    background: rgb(118, 219, 104);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(8, 159, 16);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    align-items: center;
    color: hsl(0, 100%, 100%);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* main container area beneath menu */
main {
    background: rgb(17, 184, 98);
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 250px;
}

.content {
    flex: 5;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 10px rgb(255, 255, 255) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: #ffffff;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #50ed50;
  padding: 15px;
  border-radius: 100px;
  margin-bottom: 5px;
}

#portfolio li:hover {
  background: #2dd736;
}

#portfolio a {
  text-decoration: none;
  color: #ffffff;
}